# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Node.js / React
node_modules/
.pnp/
.pnp.js

# React build
/web-app/build/

# React testing
/web-app/coverage/

# React misc
/web-app/npm-debug.log*
/web-app/yarn-debug.log*
/web-app/yarn-error.log*